<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="couchbaseClients">
      <section name="couchbase" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
    </sectionGroup>
  </configSections>
  <couchbaseClients>
    <couchbase>
      <servers>
        <add uri="http://localhost:8091"></add>
      </servers>
      <buckets>
        <add name="default" useSsl="true"></add>
      </buckets>
      <serializer name="JilSerializer" type="Couchbase.NetClient.Contrib.Serializers.Jil.JilSerializer, Couchbase.NetClient.Contrib.Serializers.Jil" />
    </couchbase>
  </couchbaseClients>
</configuration>